<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button color="light"></ion-menu-button>
    </ion-buttons>
    <ion-title color="light">
      Proximos Lançamentos
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list class="custom-skeleton" *ngIf="lancamentos.length == 0">
    <ion-card *ngFor="let i of [0, 1, 2, 3, 4]">
      <ion-grid>
        <ion-row align-items-center>
          <ion-col size="1">
            <div class="spinnerCenter">
              <ion-spinner name="bubbles"></ion-spinner>
            </div>
          </ion-col>
          <ion-col size="10">
            <ion-card-header>
              <ion-badge>
                <ion-skeleton-text style="width: 150px; height: 0px"></ion-skeleton-text>
              </ion-badge>
            </ion-card-header>
            <ion-card-content>
              <ion-skeleton-text animated style="width: 85%"></ion-skeleton-text>
              <ion-skeleton-text animated style="width: 70%"></ion-skeleton-text>
            </ion-card-content>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-card>
  </ion-list>

  <ion-list *ngIf="lancamentos.length > 0">
    <ion-item *ngFor="let item of lancamentos">
      <ion-card (click)="isSelected(item)">
        <ion-row>
          <ion-col size="4" class="col-img">
            <img src="{{ item.poster }}" />
          </ion-col>
          <ion-col size="8">

            <ion-row>
              <ion-badge text-wrap>
                {{ item.titulo }}
              </ion-badge>
            </ion-row>
            <ion-row>
              <ion-col>
                {{ item.dataLanc }}
              </ion-col>
              <ion-col>
                <ion-icon name="star-outline"></ion-icon>
                {{ item.mediaVotos }}/10
              </ion-col>
            </ion-row>
            <ion-row>
              {{ item.sinopse }}
            </ion-row>
          </ion-col>
        </ion-row>
      </ion-card>
    </ion-item>
  </ion-list>
</ion-content>